* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #000;
}

#app {
  width: 336px;
  height: 262px;
  overflow: hidden;
  position: relative;
}

#canvas {
  display: block;
  background-color: #000;
}

#status {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: system-ui, sans-serif;
  font-size: 1rem;
  text-align: center;
  pointer-events: none;
}
